<?xml version="1.0" encoding="UTF-8" ?>
<suite name = "测试发短信">

    <test name = "sendSms" >
        <groups>
            <run>
                <include name = "发短信"/>
            </run>
        </groups>
        <classes>
            <class name = "com.shuzutech.cases.SendSms"/>
        </classes>

    </test>

</suite>